<article class="new-task-container thick lined">
    <h2>Add a task for it to be automatically sorted</h2>
    <form action="/tasks/add" method="POST" class="new-task-content">
      <div class="new-task-textarea thick dotted">
        <label for="task_title"></label>
        <input name="task_title" class="form-control" type="text" placeholder="Enter a task">
        <label for="task_desc"></label>
        <textarea name="task_desc" class="form-control" name="" id="" placeholder="Enter a task description" cols="30" rows="10"></textarea>
      </div>
      <div class="new-task-button">
        <button><i class="fas fa-plus-circle"></i>Add Task</button>
      </div>
    </form>
  </article>
  